# Python Data Structures

This notebook introudces some of the most common *Python 3* data structures.
These include:
> - Lists and Tuples
> - Sets
> - Dictionaries

## Tuples

Tuples are an ordered sequence written as comma-separated elements within parentheses. Tuples are immutable, meaning that they cannot be changed once created.

In [1]:
# Create your first tuple

tuple1 = ("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created

type(tuple1)

tuple

### Indexing 

Each element of a tuple can be accessed via an index. The indices in a tuple are zero-based.

In [4]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [5]:
# Use negative indexing to get the last element

tuple1[-1]

1.2

### Concatenate Tuples

We can concatenate tuples by using the + sign.

In [6]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing

We can slice tuples, obtaining new tuples with the correspoding elements.

In [7]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [8]:
# Slice from index 3 to 4

tuple2[3:5]

('hard rock', 10)

In [9]:
# Get the length of the tuple

len(tuple2)

5

### Sorting

We can sort values in a tuple and save them in a new tuple.

In [11]:
# A sample tuple

ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [12]:
# Sort the ratings tuple
sorted_ratings = sorted(ratings)
sorted_ratings

[0, 2, 5, 6, 6, 8, 9, 9, 10]

### Nested Tuple

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements.

In [13]:
# Create a nested tuple

nested_tuple = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
nested_tuple

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [14]:
# Print elelent on each index

print("Element 0 of Tuple: ", nested_tuple[0])
print("Element 1 of Tuple: ", nested_tuple[1])
print("Element 2 of Tuple: ", nested_tuple[2])
print("Element 3 of Tuple: ", nested_tuple[3])
print("Element 4 of Tuple: ", nested_tuple[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [16]:
# Print the first element in the first nested tuple

nested_tuple[2][0]

'pop'

In [17]:
# Print the second element in the second nested tuple

nested_tuple[3][1]

4

### Tuple length

In [19]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [20]:
len(genres_tuple)

8

## Lists

- Lists are also ordered sequences.
- Lists elements are also comma-seprated and enclosed in square brackets.
- Lists are mutable. Their elements can be re-assigned.

### Indexing

In [21]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [22]:
# Print elements on each index

print(L[0])
print(L[1])
print(L[2])

Michael Jackson
10.1
1982

In [23]:
# Negative indexing

L[-1]

1982

### Nested Lists

In [25]:
nested_list = L + [[1, 2], ("A", 1)]
nested_list

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

### List Operations

In [26]:
# slicing

L[0:2]

['Michael Jackson', 10.1]

In [27]:
# Use extend to add elements to a list

L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [28]:
# Use append to add elements to a list

L.append(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10, ['pop', 10]]

In [29]:
# Change the element based on the index

A = ['disco', 10, 1.2]
print('Before change:', A)

A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [30]:
# Delete element based on the index

print('Before change:', A)
del A[0]

print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [31]:
# Split a string to form a list

'hard rock'.split()

['hard', 'rock']

In [32]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

### Copy and Clone List

In [33]:
# Copy (copy by reference) the list A

B = A
print("A:", A)
print("B:", B)

A: [10, 1.2]
B: [10, 1.2]

In [34]:
# Examine the copy by reference
A[0] = "banana"
print("A:", A)
print("B:", B)

A: ['banana', 1.2]
B: ['banana', 1.2]

In [35]:
# Clone (clone by value) the list A

C = A[:]
print("A:", A)
print("C:", A)

A: ['banana', 1.2]
C: ['banana', 1.2]

In [37]:
# Examine the cloning (copy by value)

A[0] = 10
print("A:", A)
print("C:", C)

A: [10, 1.2]
C: ['banana', 1.2]

## Sets

- Sets are a type of collection.
- Unlike lists and tuples they are unordered.
- Sets only have unique elements.
- Sets are defined using curly brackets.

In [38]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [40]:
# Convert a list to set

album_list = ["Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop", "Rock", "R&B", 46.0, 65, "30-Nov-82", None, 10.0]
print(album_list)

album_set = set(album_list)
print(album_set)

['Michael Jackson', 'Thriller', 1982, '00:42:19', 'Pop', 'Rock', 'R&B', 46.0, 65, '30-Nov-82', None, 10.0]
{65, None, 10.0, '30-Nov-82', 46.0, 'R&B', 'Rock', 'Pop', '00:42:19', 'Thriller', 1982, 'Michael Jackson'}

### Set Operations

In [41]:
# Sample set

sample = set(["Thriller", "Back in Black", "AC/DC"])
sample

{'AC/DC', 'Back in Black', 'Thriller'}

In [47]:
# Add an element to a set

sample.add("NSYNC")
sample

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [48]:
# Remove an item from a set

sample.remove("NSYNC")
sample

{'AC/DC', 'Back in Black', 'Thriller'}

In [49]:
# Verify if the element is in the set

"AC/DC" in sample

True

In [50]:
# Sample sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
print(album_set1)
print(album_set2)

{'AC/DC', 'Back in Black', 'Thriller'}
{'The Dark Side of the Moon', 'AC/DC', 'Back in Black'}

In [51]:
# Find the intersection of the two sets

intersection = album_set1 & album_set2
print(intersection)

intersection = album_set1.intersection(album_set2)
print(intersection)

{'AC/DC', 'Back in Black'}
{'AC/DC', 'Back in Black'}

In [53]:
# Find the difference in set1 but not set2

difference = album_set1 - album_set2
print(difference)

difference = album_set1.difference(album_set2)
print(difference)

{'Thriller'}
{'Thriller'}

In [56]:
# Find the union of two sets

union = album_set1.union(album_set2)
print(union)

{'Back in Black', 'The Dark Side of the Moon', 'AC/DC', 'Thriller'}

In [57]:
# Check if superset

album_set2.issuperset(album_set1)

False

In [58]:
# Check if subset

{"Back in Black", "AC/DC"}.issubset(album_set1)

True

## Dictionaries

- Are a type of collection of key-value pairs.
- They are denoted with curly braces.
- The keys have to be immutable and unique.

In [59]:
# Create a dictionary

sample_dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
sample_dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [60]:
# Access to the value by the key

sample_dict["key1"]

1

In [61]:
# Access to the value by the key

sample_dict[(0, 1)]

6

In [62]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [63]:
# Get value by keys

release_year_dict["Thriller"]

'1982'

In [64]:
# Get value by keys

release_year_dict["The Bodyguard"]

'1992'

In [65]:
# Get all the keys in the dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [66]:
# Get all the values in the dcitionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [67]:
# Append value with key into the dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [68]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [69]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True