# Working with Data in Python

This notebook goes through working with data in *Python 3*. Included is:
- Reading files with open
- Writing files with open
- Loading data with `Pandas`
- Working with and saving data with `Pandas`

## Reading Files in Python

One way to read or write a file in Python is to use the built-in `open` function. The `open` function provides a **File object** that contains methods and attributes you need in order to read, save and manipulate the file.

In [1]:
# Read the example1.txt 

file_path = "data/example1.txt"
example_file = open(file_path, "r")

In [2]:
# Print the path of the file

example_file.name

'data/example1.txt'

In [3]:
# Print the mode of the file

example_file.mode

'r'

In [4]:
# Read the file 
file_content = example_file.read()
file_content

'This is line 1 \nThis is line 2\nThis is line 3'

In [5]:
# Print the file with '\n' as a new line

print(file_content)

This is line 1
This is line 2
This is line 3

In [6]:
# Print the type of file_content

print(type(file_content))

<class 'str'>

In [7]:
# Close the file

example_file.close()

In [8]:
# Verify that the file is closed

example_file.closed

True

### A Better Way to Open a File

Using the `with` statement is better parctice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [9]:
# Open file using with statement.

with open(file_path, "r") as in_file:
    file_content = in_file.read()
    print(file_content)

This is line 1
This is line 2
This is line 3

The `with` statement closes the file object automatically. You can verify that it's closed by running the cell below.

In [10]:
# Verify that the file object above is now closed

in_file.closed

True

In [11]:
# See the content of the file

print(file_content)

This is line 1
This is line 2
This is line 3

We don't have to read the entire file, for example, we can read the first 4 characters by entering four as a parameter to the `read()` method of the file object

In [12]:
with open(file_path, "r") as file_object:
    print(file_object.read(4))

This

Once the `.read(4)` is called, the first 4 characters are read. If we call the method again, the next 4 characters are read. The output of the cell below demonstrates calling the read method a number of times with different inputs.

In [13]:
# Read a number of characters

with open(file_path, "r") as file_object:
    print(file_object.read(4))
    print(file_object.read(4))
    print(file_object.read(7))
    print(file_object.read(15))

This
 is
line 1

This is line 2

We can also read one line of the file at a time using the `readline()` method.

In [14]:
# Read one line

with open(file_path, "r") as file_object:
    print("first line: " + file_object.readline())

first line: This is line 1

We can use a loop to iterate through each line.

In [15]:
# Iterate through the lines

with open(file_path, "r") as file_object:
    for idx, line in enumerate(file_object):
        print("Iteration", str(idx), ": ", line)

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

We can also use the `readlines()` to save the file as list of strings.

In [16]:
# Read all lines and save as list

with open(file_path, "r") as file_object:
    contents_list = file_object.readlines()

In [17]:
# Print the contents list

print(contents_list)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

## Writing Files

We can write to a file object using the `write()` method. The mode argument must be set to `w` for the write operation to take place. In the example below, we are going to write `This is line A` to a file `data/example2.txt`.

In [18]:
# Write line to a file

example2_path = 'data/example2.txt'

with open(example2_path, 'w') as file_object:
    file_object.write("This is line A\n")

To verify that the write operation was successful, we can read the newly created `data/example2.txt` file.

In [19]:
# Read file

with open(example2_path, 'r') as file_object:
    print(file_object.read())

This is line A

In [20]:
# Write lines to file

with open(example2_path, 'w') as file_object:
    file_object.write("This is line A\n")
    file_object.write("This is line B\n")

The `.write()` method works similarly to the the `.readline()`, except that instead of reading a new line, it writes a new one.

In [21]:
# Verify the contents of the file

with open(example2_path, 'r') as file_object:
    example2_contents = file_object.read()
    print(example2_contents)

This is line A
This is line B

By setting the mode argument to append `a`, you can append new line to the file as follows:

In [22]:
# Append a new line to the file

with open(example2_path, 'a') as file_object:
    file_object.write("This is line C\n")

In [23]:
# Verify that a new line was appended to the file

with open(example2_path, 'r') as file_object:
    new_contents = file_object.read()
    print(new_contents)

This is line A
This is line B
This is line C

We can also write a list to a `.txt` as follows:

In [24]:
# Sample list of text

lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [25]:
# Write strings list to a text file

with open(example2_path, 'w') as write_file:
    for line in lines:
        print(line)
        write_file.write(line)

This is line A

This is line B

This is line C

In [26]:
# Verify that the lines were written to the file

with open(example2_path, 'r') as read_file:
    print(read_file.read())

This is line A
This is line B
This is line C

## Copy a File

Let's copy the file `data/example2.txt` to a new file `data/example3.txt`:

In [27]:
# Copy one file to another
example3_path = "data/example3.txt"

with open(example2_path, 'r') as read_file:
    with open(example3_path, 'w') as write_file:
        for line in read_file:
            write_file.write(line)

In [28]:
# Verify that the copy operation was successful

with open(example3_path, 'r') as read_file:
    print(read_file.read())

This is line A
This is line B
This is line C

## Working with Data using Pandas

This part introduces working with the `Pandas` library load and view data.

In [29]:
# import the required library

import pandas as pd

In [30]:
# Read the data from the csv file

csv_path = "data/top-selling-albums.csv"

df = pd.read_csv(csv_path)

We can use the `head()` method of the dataframe to examine the first five rows

In [31]:
# Print the first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We can read an excel into a pandas dataframe using the `read_excel()` function. The result of reading `data/top-selling-albums.xlsx` is a dataframe as before.

In [32]:
# Read the data from the excel file

xlsx_path = "data/top-selling-albums.xlsx"

df = pd.read_excel(xlsx_path)

In [33]:
# Print the first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

The `Length` column can be accessed and assigned to a new dataframe `x` as shown:

In [34]:
# Access to the Length column

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

### Viewing Data and Accessing Data

You can also get a column as a series. You can think of a `Pandas` series as a 1-D dataframe. To do this, use just one bracket.

In [35]:
# Get the Length column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [36]:
# Verify that x is a series

type(x)

pandas.core.series.Series

You can also get a column as a dataframe. For example, we can assign the `Artist` column to a new dataframe:

In [37]:
# Get the Artist column as a dataframe

x = df[['Artist']]
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [38]:
# Verify that x is a dataframe

type(x)

pandas.core.frame.DataFrame

You can create a new dataframe from multiple columns of the original dataframe. Just use the original dataframe and the name of the multiple columns enclosed in double brackets.

In [39]:
# Access to multiple columns

y = df[['Artist', 'Length', 'Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

One way to access unique elements is the `iloc` method, where you can access the 1st row and the 1st column as follows:

In [40]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [41]:
# Access the value on the second row and the first column

df.iloc[1, 0]

'AC/DC'

In [42]:
# Access the value value on the first row and the third column

df.iloc[0, 2]

1982

You can access the column name using the name as well, the following are the same as above:

In [43]:
# Access the first row of the Artist column

df.loc[0, 'Artist']

'Michael Jackson'

In [44]:
# Access the second row of the Artist column

df.loc[1, 'Artist']

'AC/DC'

In [45]:
# Access the first row of the Released column

df.loc[0, 'Released']

1982

In [46]:
# Access the second row of the Released column

df.loc[1, 'Released']

1980

You can perform slicing using both the index and the name of the column:

In [47]:
# Slicing the dataframe using indices

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [48]:
# Slicing the dataframe using column names

df.loc[0:2, 'Artist': 'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [49]:
# Store the Rating column as a dataframe in variable q

q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [50]:
# Assign the avriable q to the dataframe made up of Released and Artist columns

q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [51]:
# Access the 2nd row and the 3rd column of the df dataframe

df.iloc[1, 2]

1980